<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <style>
        .nav-item#manual-li .nav-link i {
            color: #fff;
        }

        .nav-item#manual-li .nav-link {
            color: #fff;
            font-weight: 700;
        }

        #image-container {
            width: 100%;
            height: 0px; /* Set the desired height of the container */
            padding-bottom: 40%;
            filter: blur(8px);
            background-size: 100% auto; /* Stretch the image horizontally */
            background-position: top; /* Align the image to the top */
            background-repeat: no-repeat;
            overflow: hidden; /* Ensure that any overflow is hidden */
        }
    </style>

    <link href="static/css/pulse-dots.css" rel="stylesheet"/>

    <script>
        function handleReceiptUpload(file){
            var formData = new FormData();
            formData.append('file', file);

            $.ajax({
                type: "POST",
                processData: false,
                contentType: false,
                cache: false,
                url: "read_receipt",
                data: formData
            }).done(function (data) {
                $("#table-card").removeAttr("hidden");
                
                var array = data['content'];
                
                tbody = document.querySelector("#table-card tbody")

                array.forEach(data => {
                    const tr = document.createElement('tr');
                    Object.values(data).forEach(value => {
                        const td = document.createElement('td');
                        td.innerHTML = "<span>" + value + "</span>";
                        tr.appendChild(td);
                    });
                    tbody.appendChild(tr);
                });

                $("#image-card").hide();
            });
	    }
    </script>

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'topbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <form id="fileUpload" class="mt-3">
                        <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
                        <input type="file" class="mt-5 filepond" name="file" id="upload-image" accept="image/png, image/jpeg, image/gif" required>
            
                        <!-- Load FilePond library -->
                        <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
            
                        <!-- Turn all file input elements into ponds -->
                        <script>
                            FilePond.create(
                            document.querySelector('#upload-image'),
                            {
                                labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
                            }
                            );

                            var pond = document.querySelector('.filepond--root');
                            pond.addEventListener('FilePond:addfile', (e) => {
                                $("#image-card").removeAttr("hidden");
                                $("#image-container").css("background-image","url('" + URL.createObjectURL(e.detail.file.file) + "')");

                                handleReceiptUpload(e.detail.file.file);
                            });
                        </script>
            
                    </form>

                    
                    <div id="image-card" class="card mb-4" style="border: none" hidden>
                        <div id="image-container"></div>
                        <div style="position: absolute;left: 50%;top: 50%;">
                            <div style="opacity:0.5;transform:translate(-50%,-50%);position:absolute;background-color:#fff;width:100px;height:100px;border-radius:50%"></div>
                        </div>
                        <div style="position: absolute;left: 50%;top: 50%;">
                            <div style="transform:translate(-50%,-50%)" class="dot-pulse"></div>
                        </div>
                    </div>

                    <div id="table-card" class="card shadow mb-4" hidden>
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Your Purchases</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Category</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Category</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/js/demo/chart-area-demo.js"></script>
    <script src="static/js/demo/chart-pie-demo.js"></script>

    <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

</body>

</html>